@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
</head>
<body>
    <h2>Главная страница</h2>
<table style="width:50%;" border="1px">
    <tr>
        <td>Поле</td>
        <td>Поле</td>
        <td>Поле</td>
    </tr>
    <tr>
        <td>Поле</td>
        <td>Поле</td>
        <td>Поле</td>
    </tr>
    <tr>
        <td>Поле</td>
        <td>Поле</td>
        <td>Поле</td>
    </tr>
</table>
<div style="padding-top: 20px">
    <img src="tonight.png" width="500px" />
</div>
</body>
</html>